name:              Mysterious Pants
description:       It's an adventure, 314!
meta_description: "Mysterious Pants: it's an adventure, 314!"

contactPage:       true

markdown:          kramdown
highlighter:       rouge

baseurl:
domain_name:       http://www.mysteriouspants.com

url:               http://www.mysteriouspants.com
githubRepo:        mysteriouspants/mysteriouspants.com

default_author:    Christopher R. Miller
authors:
    -
        name:      Christopher R. Miller
        twitter:   mysterytrousers
        github:    mysteriouspants
        avatar:    xpm.png
        about:     Computer scientist, humorist, and something of a math geek.

permalink:         /blog/:year/:month/:title/

paginate:          9999
paginate_path:     /blog/page/:num/
gems:            [ jekyll-paginate, jekyll-sitemap ]

exclude:         [ README.md, COPYING.md, Gemfile, Gemfile.lock, publish.sh ]
timezone:          America/Los_Angeles
encoding:          utf-8

defaults:
    -
        scope:
            path: "" # empty string for all files
            type: pages
        values:
            layout: default
    -
        scope:
            path: "" # empty string for all files
            type: posts
        values:
            layout: post
    -
        scope:
            path: ""
            type: drafts
        values:
            layout: post
