<footer id="footer">
  <p class="small">
    &copy; Copyright 2012 - {{ site.time | date: '%Y' }} by {{ site.default_author }}.
    The content and opinions on this site are those of Chris Miller, and are in no way shape or form representative of any past or current employer.
    Any who misconstrue this content as such will receive a stern tongue lashing.
  </p>
  <p class="small" title="Il semble que la perfection soit atteinte non quand il n'y a plus rien à ajouter, mais quand il n'y a plus rien à retrancher.">
    &ldquo;It seems that perfection is attained not when there is nothing more to add, but when there is nothing more to remove.&rdquo;
    Antoine de Saint Exupéry. <i>Terre des Hommes</i>, Ch. III L'Avion (pp. 60). 1939.
  </p>
  <p class="small">
  &ldquo;If in other sciences we should arrive at certainty without doubt and truth without error, it behooves us to place the foundations of knowledge in mathematics.&rdquo;
  Roger Bacon. <i>Opus Majus</i>, Book 1, Chapter 4. 1267.
  </p>
</footer>
