<nav class="main-nav">
  {% capture baseurl_nav %}{{ site.baseurl }}/{% endcapture %}
  {% if page.url != baseurl_nav %}
    <a href="{{ site.baseurl }}/" title="To be clear, this takes you back to my site's home, not necessarily your home."> <span class="arrow">←</span> Home </a>
  {% endif %}

  {% if page.url != "/contact/" %}
    {% if site.contactPage %}
      <a href="{{ site.baseurl }}/contact" title="There is no on-site comment system. This link is your best bet.">Contact </a>
    {% endif %}
  {% endif %}
  <a class="cta" href="{{ site.baseurl }}/feed.xml" title="If you're into that sort of thing. I don't judge.">RSS</a>
</nav>
