---
layout: default
archive: true
---

<article class="post">
  <header>
    <h1>{{ page.title }}</h1>
    <h2 class="headline">{{ page.date | date:"%-d %B %Y" }}</h2>
  </header>
  <section id="post-body">
    {{content}}
  </section>
</article>

{% if page.author != null %}
  {% assign page_author = page.author %}
{% else %}
  {% assign page_author = site.default_author %}
{% endif %}

{% for author in site.authors %}
  {% if author.name == page_author %}
    <footer id="post-meta" class="clearfix">
      <img class="avatar" src="{{ site.baseurl }}/assets/images/{{ author.avatar }}">
      <div>
        <span class="dark">{{ author.name }}</span>
        <span>{{ author.about }}</span>
      </div>
    </footer>
  {% endif %}
{% endfor %}
