<!DOCTYPE html>
<html lang="en">
  {% block pre_head %}
  {% endblock %}

  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>{% block title %}{{ config.title }}{% endblock title %}</title>

    <link rel="shortcut icon" href="{{ get_url(path="favicon.ico", trailing_slash=false) | safe }}"/>

    {% if config.generate_rss %}
      <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="rss.xml", trailing_slash=false) | safe }}"/>
    {% endif %}

    <link rel="stylesheet" href="{{ get_url(path="site.css", trailing_slash=false) | safe }}"/>

    {% block extra_head %}
    {% endblock extra_head %}
  </head>

  <body>
    {% if page is defined %}
      {% set context = page %}
    {% endif %}
    {% if section is defined %}
      {% set context = section %}
    {% endif %}

    {% if not context.extra.suppress_navigation | default(value=false) %}
    <nav class="main-nav">
      {% if context.path != "/" %}
        <nav-item>
          <a href="/" title="To be clear, this takes you back to the site's home, not necessarily your home."><span class="arrow">←</span> Home</a>
        </nav-item>
      {% endif %}
      {% for link in config.extra.nav_links %}
        <nav-item>
          <a href="{{ link.href | safe }}">{{ link.name | safe }}</a>
        </nav-item>
      {% endfor %}
      {% if config.generate_rss %}
        <nav-item>
          <a class="cta" href="{{ get_url(path="rss.xml") | safe }}"/>RSS</a>
        </nav-item>
      {% endif %}
    </nav>
    {% endif %}

    {% if not context.extra.suppress_header | default(value=false) %}
      <header>
        <div>
          <h1>{{ context.title | default(value="Mysterious Pants") | safe }}</h1>
          {% if context.description is defined %}
            <h2>{{ context.description | safe }}</h2>
          {% endif %}
        </div>
      </header>
    {% endif %}

    {% block content %}
    {% endblock content %}

    <footer>
      {% block footer %}
        &copy; {{ now() | date(format="%Y") }} by {{ config.extra.author }}
      {% endblock %}
    </footer>

    {% if config.enable_mathjax %}
      <script src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    {% endif %}
  </body>
</html>
