{% extends "base.html" %}

{% block content %}
  <ul id="post-list">
    {% set section = get_section(path="blog/_index.md") %}
    {% set year = "-1" %}
    {% for page in section.pages | reverse %}
      {% set this_year = page.date | date(format="%Y") %}
      {% if year != this_year %}
        {% set_global year = this_year %}
        <li class="year"><h2>{{ year }}</h2></li>
      {% endif %}
      <li>
        <a href="{{ page.permalink | safe }}"><aside class="dates">{{ page.date | date(format="%b %d") }}</aside></a>
        <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
      </li>
    {% endfor %}
  </ul>
{% endblock content %}
